###################################################################
LaTeX Files
###################################################################
*.aux
*.log
*.out
*.gz
*.bbl
*.bcf
*.blg
*.synctex.gz
*.synctex(busy)
*.toc
*.xml
_minted*
*.pyc
*.dvi
*.ps
*.webp

###################################################################
Gimp Files
###################################################################
*.xcf

###################################################################
Miscellaneous
###################################################################
Raw-Images/
Gimp-Projects/
AI\ Generated/

###################################################################
PDFs
###################################################################
call-of-cthulhu-investigator-handbook-7th-edition-9781568824314-1568824319_compress.pdf
CoC7 PC Sheet - Auto-Fill - 1920s - Standard - Color.pdf

###################################################################
Testing Files
###################################################################
test_character/
